<!-- MENU SIDEBAR-->
<div class="page-wraper">
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="welcome">
        <img src="assets/images/PinClipart.com_coal-cart-clipart_1847871.png" alt="Shop logo " class="img-responsive" />
      </a>
    </div>

    <app-product-category-menu>

    </app-product-category-menu>

  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <div class="page-container">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div class="header-wrap">
              <!-- Search-Component-->
              <app-search></app-search>
              <!--Cart-Component-->
              <app-cart-status></app-cart-status>
              <!-- -->
            </div>
            <div class="account-wrap"></div>
          </div>
        </div>
      </header>
      <!-- END HEADER DESKTOP-->

      <!--MAIN CONTENT-->

      <!-- app-product-list></app-product-list comment out to setup router-outlet -->
      <router-outlet>

      </router-outlet>

      <!--END OF MAIN CONTENT-->
    </div>
  </div>
  

  <!-- end document-->
</div>